.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 200px;
  gap: 25px;
  background-color: #131110;
}

.container img {
  border-radius: 10px;
  height: 620px;
  object-fit: cover;
}

.lBox {
  width: 60%;
}

.lBox p {
  font-size: 13px;
  line-height: 17px;
  font-style: italic;
}

.lBox button {
  background-color: #2c4dcd;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  padding: 12px 30px;
  letter-spacing: 0.5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.titlePriceBox {
  display: flex;
  align-items: center;
  gap: 50px;
}

.roomsBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.iconTextBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #2c4dcd;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.closeBtn {
  margin-top: 10px;
  background-color: #2c4dcd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
